In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData 
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base 
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, VARCHAR

import pandas as pd

## Use Pandas to read csv files to dataframes

In [ ]:
measurements = pd.read_csv("clean_hawaii_measuremnts.csv")
measurements.head()

In [4]:
stations = pd.read_csv("hawaii_stations.csv")
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
# Use the engine and connection string to create a database called hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
# Use `declarative_base` from SQLAlchemy to model the measurement and station tables as an ORM class
# Make sure to specify types for each column
Base = declarative_base()

class Measurements(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(VARCHAR)
    date = Column(VARCHAR)
    precipitation = Column(Float)
    temperature_observation = Column(Float)
    
    def __repr__(self):
        return f"station={self.station}, date={self.date}"
        #return "<measurement (%r, %r)>" % (self.station, self.date)
    
class Stations(Base):
    __tablename__ = "stations"
    
    id = Column(Integer, primary_key=True)
    station = Column(VARCHAR)
    name = Column(VARCHAR)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"station={self.station}, name={self.name}"
        #return "<station (%r, %r)>" % (self.station, self.name)

In [11]:
# Use `create_all` to create the tables in the database
Base.metadata.create_all(engine)

In [12]:
# Create a session
session = Session(engine)

In [13]:
#load measurements data into the class Measurements
for i, row in measurements.iterrows():
    data = Measurements(
                    station = row.station,
                    date = row.date,
                    precipitation = row.prcp,
                    temperature_observation = row.tobs
                    )
    session.add(data)
    session.commit()

In [14]:
#load stations data into the class Stations
for i, row in stations.iterrows():
    data = Stations(
                    station = row.station,
                    name = row.name,
                    latitude = row.latitude,
                    longitude = row.longitude,
                    elevation = row.elevation
                    )
    session.add(data)
    session.commit()

In [ ]:
data = session.query(measurements).first()
data.__dict__

In [ ]:
# Create a connection to the engine called `conn`
conn = engine.connect()# Use a session query to find the first row in the database

In [15]:
station_data = conn.execute("SELECT * from stations")
print(station_data.first())

(1, 'USC00519397', b'\x00\x00\x00\x00\x00\x00\x00\x00', 21.2716, -157.8168, 3.0)